/*html {
  height: 100%;
}

body {
  background-repeat: no-repeat;
  /*background: center;*/
height: 100%;
  /*background-color: orange;*/
  background-image: url("http://static.simpledesktops.com/uploads/desktops/2015/11/18/garlic_siracha.png") ;
  background-size: cover;
}
/**/

/*#container {
   float: left;
   position: relative;
   left: 0px;
   top: 0px;
   z-index: 1000;
   background-color: orange;
   padding: 5px;
   color: black;
   font-weight: bold;
}*/*/
